/* Layout
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
- Font size (paragraph): 18px- Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 400, 500 */

* { 
margin: 0;
padding: 0;
font: inherit;
}

html, body {
	height: 100%;
}

:root {
--Purple100: hsl(254, 88%, 90%);
--Purple500: hsl(256, 67%, 59%);

--Yellow100: hsl(31, 66%, 93%);
--Yellow500: hsl(39, 100%, 71%);

--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
}