/* Layout
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
- Font size (paragraph): 18px- Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 400, 500 */

* { 
margin: 0;
padding: 0;
font: inherit;
}

html, body {
	height: 100%;
}

:root {
--Purple100: hsl(254, 88%, 90%);
--Purple500: hsl(256, 67%, 59%);

--Yellow100: hsl(31, 66%, 93%);
--Yellow500: hsl(39, 100%, 71%);

--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
--Grey: hsl(0, 0%, 90%);

--text-font: "DM Sans", sans-serif;
--text-large: 48px;
--text-medium: 28px;
--text-small: 15px;

--text-bold: 600;
--text-regular: 400;
}


/* colors -----------------*/
.purple100 {
	background-color: var(--Purple100);
}

.purple500 {
	background-color: var(--Purple500);
}

.yellow100 {
	background-color: var(--Yellow100);
  }

.yellow500 {
	background-color: var(--Yellow500);
  }

.white {
	background-color: var(--White);
  }

.black {
	background-color: var(--Black);
  }

.grey {
	background-color: var(--Grey);
  }

/* text -----------------*/

.text-large {
	font-size: var(--text-large);
}

.text-medium {
	font-size: var(--text-medium);
}

.text-small {
	font-size: var(--text-small);
}

.bold {
	font-weight: 600;
}

.regular {
	font-weight: 400;
}

.italic {
	font-style: italic;
}

/* layout -----------------*/
.main {
	display: flex;
	flex-direction: column;
	font-family: var(--text-font);
	line-height: 0.8;
}

.main > div {
  flex-basis: 200px;
}

.card {
  border-radius: 10px;
  margin: 10px;
  padding: 25px;
}

.social, .grw {
	color: var(--White);
	
}

.ylw {
	color: var(--Yellow500);
}

.prpl {
	color: var(--Purple500);
}

.social, .grw, .sch {
	text-align: center;
}

.social > img, .mtn > img, .aud > img, .crt > img {
	width: 50%;
	margin: 10px;
}

.grw > img, .wrt > img, .sch > img, .mng > img {
	width: 80%;
	margin: 10px;
}

p {
	padding: 10px 0;
}

.mtn img {
  margin-bottom: 0;
}

.mtn {
  padding-bottom: 0;
}